# Text classification: News Category Prediction

### [Hackathon Link](https://www.machinehack.com/course/predict-the-news-category-hackathon/)

### Problem Statement with information about dataset
Use Natural Language Processing to predict which genre or category a piece of news will fall in to from the story.

Size of training set: 7,628 records
Size of test set: 2,748 records

FEATURES:

STORY:  A part of the main content of the article to be published as a piece of news.
SECTION: The genre/category the STORY falls in.

There are four distinct sections where each story may fall in to. The Sections are labelled as follows :

Politics: 0  
Technology: 1  
Entertainment: 2  
Business: 3

### Libraries import

In [ ]:
#Remove warning in console
import warnings
warnings.filterwarnings('ignore')
# default libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

#NLP specific libraries
from wordcloud import WordCloud
import nltk
from nltk.corpus import stopwords
from nltk import word_tokenize

#Accuracy metrics 
from sklearn.metrics import classification_report

#NLP libraries
import nltk
from nltk.corpus import stopwords
import string
from sklearn.feature_extraction.text import CountVectorizer
#Importing TfidfTransformer from sklearn
from sklearn.feature_extraction.text import TfidfTransformer

#Download the following modules once
# nltk.download('stopwords')
# nltk.download('wordnet')

#Model libraries 
from sklearn.naive_bayes import MultinomialNB

### Import Data
#### Download: [MachineHack Site](https://www.machinehack.com/wp-content/uploads/2019/07/Participants_Data_News_category-20190729T063600Z-001.zip)

In [ ]:
input_train_df = pd.read_excel('./sample_data/Data_Train.xlsx')

### Explore DataSet

In [ ]:
input_train_df.head()

                                               STORY  SECTION
0  But the most painful was the huge reversal in ...        3
1  How formidable is the opposition alliance amon...        0
2  Most Asian currencies were trading lower today...        3
3  If you want to answer any question, click on ‘...        1
4  In global markets, gold prices edged up today ...        3

In [ ]:
input_train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7628 entries, 0 to 7627
Data columns (total 2 columns):
STORY      7628 non-null object
SECTION    7628 non-null int64
dtypes: int64(1), object(1)
memory usage: 119.3+ KB

In [ ]:
#Printing the shape of the dataset
print(input_train_df.shape)

(7628, 2)

In [ ]:
#Printing the group by description of each category
input_train_df.groupby("SECTION").describe()

        STORY
        count unique                                                top freq
SECTION
0        1686   1673  This story has been published from a wire agen...    4
1        2772   2731  This story has been published from a wire agen...   13
2        1924   1914  We will leave no stone unturned to make the au...    3
3        1246   1233  This story has been published from a wire agen...   11

In [ ]:
#Check for null values
input_train_df.isnull().values.any()
input_train_df.isnull().sum()

STORY      0
SECTION    0
dtype: int64

In [ ]:
#Removing duplicates to avoid overfitting
input_train_df.drop_duplicates(inplace = True)

### EDA
Code resources:      
[Kaggle notebook on eda](https://www.kaggle.com/amokrane/eda-and-text-classification-with-scikit-learn)

In [ ]:
# Distribution plot of target column
# ax, fig = plt.subplots(figsize=(10, 7))
# sections_class = input_train_df["SECTION"].value_counts()
# sections_class.plot(kind= 'bar')
# plt.title('Bar chart of news categories')
# plt.show()

In [ ]:
# print("Percentage distribution of target column categories:-")
# (input_train_df.groupby('SECTION').size()/input_train_df['SECTION'].count())*100

In [ ]:
#Divide target column into individual categories
# politics = input_train_df[input_train_df["SECTION"] == 0]
# technology = input_train_df[input_train_df["SECTION"] == 1]
# entertainment = input_train_df[input_train_df["SECTION"] == 2]
# business = input_train_df[input_train_df["SECTION"] == 3]

In [ ]:
#get length of news stories for each category
# politics["news_length"] = politics.STORY.apply(lambda x: len(x))
# technology["news_length"] = technology.STORY.apply(lambda x: len(x))
# entertainment["news_length"] = entertainment.STORY.apply(lambda x: len(x))
# business["news_length"] = business.STORY.apply(lambda x: len(x))

**Distribution plot of target column categories**    
More info on dist plot: [TowardsDataScience](https://towardsdatascience.com/histograms-and-density-plots-in-python-f6bda88f5ac0)

In [ ]:
# fig = plt.figure(figsize=(11.7,8.27))
# sns.distplot(politics.news_length, hist=True, label="politics")
# sns.distplot(technology.news_length, hist=True, label="technology")
# sns.distplot(entertainment.news_length, hist=True, label="entertainment")
# sns.distplot(business.news_length, hist=False, label="business")
# plt.ylabel('Density of news story words')
# plt.xlabel('New Story length')
# fig.legend()
# plt.show()

### Data Preprocessing

**1)Text cleaning**    
Cleaning of special characters, downcasing, punctuation signs. possessive pronouns and stop words removal and lemmatization.

**1.1Remove Punctutation**   
Punctuation signs and special characters won't have any predicting power, so we'll just get rid of them.

In [ ]:
all_punctuations = string.punctuation + '‘’,:”][],' 

#Method to remove punctuation marks from the data
def punc_remover(raw_text):
    no_punct = "".join([i for i in raw_text if i not in all_punctuations])
    return no_punct

#Method to remove stopwords from the data
def stopword_remover(no_punc_text):
    words = no_punc_text.split()
    no_stp_words = " ".join([i for i in words if i not in stopwords.words('english')])
    return no_stp_words

#Method to lemmatize the words in the data
lemmer = nltk.stem.WordNetLemmatizer()
def lem(words):
    return " ".join([lemmer.lemmatize(word,'v') for word in words.split()])

#Method to perform a complete cleaning
def text_cleaner(raw):
    cleaned_text = stopword_remover(punc_remover(raw))
    return lem(cleaned_text)

In [ ]:
#Applying the cleaner method to the entire data
input_train_df['CLEAN_STORY'] = input_train_df['STORY'].apply(text_cleaner)

In [ ]:
#Checking the new dataset
print(input_train_df.head())

                                               STORY  SECTION  \
0  But the most painful was the huge reversal in ...        3
1  How formidable is the opposition alliance amon...        0
2  Most Asian currencies were trading lower today...        3
3  If you want to answer any question, click on ‘...        1
4  In global markets, gold prices edged up today ...        3

                                         CLEAN_STORY
0  But painful huge reversal fee income unheard a...
1  How formidable opposition alliance among Congr...
2  Most Asian currencies trade lower today South ...
3  If want answer question click Answer After cli...
4  In global market gold price edge today disappo...

In [ ]:
#Exporting file to pickle to save time in processing data
input_train_df.to_pickle('./sample_data/Pickles/input_train_df.pickle')

In [ ]:
input_train_df = pd.read_pickle('./sample_data/Pickles/input_train_df.pickle')

**2)Count Vectors and TF-IDF Vectors**    
Create count vectors and TF-IDF vectors for feeding data into model

**2.1 Create bag-of-words model using CountVectoriser**

In [ ]:
#Creating a bag-of-words dictionary of words from the data
bow_dictionary = CountVectorizer().fit(input_train_df['CLEAN_STORY'])

In [ ]:
#Total number of words in the bow_dictionary
len(bow_dictionary.vocabulary_)

35189

In [ ]:
#Using the bow_dictionary to create count vectors for the cleaned data.
bow = bow_dictionary.transform(input_train_df['CLEAN_STORY'])

In [ ]:
#Printing the shape of the bag of words model
print(bow.shape)

(7551, 35189)

**2.2 Create TF-IDF Vectors**

In [ ]:
#Fitting the bag of words data to the TF-IDF transformer
tfidf_transformer = TfidfTransformer().fit(bow)

# #Transforming the bag of words model to TF-IDF vectors
storytfidf = tfidf_transformer.transform(bow)

### Training the classification models

In [ ]:
#Creating a Multinomial Naive Bayes Classifier and 
#Fitting the training data to the classifier
classifier = MultinomialNB().fit(storytfidf, input_train_df['SECTION'])

### Predicting For The Test Set

In [ ]:
final_test_df = pd.read_excel('./sample_data/Data_Test.xlsx')
final_test_df['CLEAN_STORY'] = final_test_df['STORY'].apply(text_cleaner)

In [ ]:
#Exporting file to pickle to save time in processing data
final_test_df.to_pickle('./sample_data/Pickles/final_test_df.pickle')

In [ ]:
final_test_df = pd.read_pickle('./sample_data/Pickles/final_test_df.pickle')

In [ ]:
#Printing the cleaned data
print(final_test_df.values)

[['2019 will see gadgets like gaming smartphones and wearable medical devices lifting the user experience to a whole new level\n\n\nmint-india-wire consumer technologyconsumer technology trends in New Yeartech gadgetsFoldable phonesgaming smartphoneswearable medical devicestechnology\n\n\nNew Delhi: Gadgets have become an integral part of our lives with most of us relying on some form of factor to communicate, commute, work, be informed or entertained. Year 2019 will see some gadgets lifting the user experience to a whole new level. Here’s what we can expect to see:\n\n\nSmartphones with foldable screens: Foldable phones are finally moving from the concept stage to commercial launches. They are made up of organic light-emitting diode (OLED) panels with higher plastic substrates, allowing them to be bent without damage.\n\n\nUS-based display maker Royole Corp’s foldable phone, FlexPai, has already arrived in select markets, while Samsung’s unnamed foldable phone is expected sometime next year. Samsung’s smartphone chief executive officer D.J. Koh has said they will make a million units of it. LG, too, is expected to display a foldable phone next year. Meanwhile Apple, Nokia, Lenovo and Huawei have also been working on foldable phones, reportedly.\n\n\neSIM: Very soon your smartphone won’t need a physical SIM card anymore. The eSIM technology, already used by Apple in its iPhones and Apple Watch, replaces the physical SIM with a virtually embedded chip on the motherboard. eSIMs support multiple mobile operators and can be programmed to switch services.'
  '2019 see gadgets like game smartphones wearable medical devices lift user experience whole new level mintindiawire consumer technologyconsumer technology trend New Yeartech gadgetsFoldable phonesgaming smartphoneswearable medical devicestechnology New Delhi Gadgets become integral part live us rely form factor communicate commute work inform entertain Year 2019 see gadgets lift user experience whole new level Heres expect see Smartphones foldable screen Foldable phone finally move concept stage commercial launch They make organic lightemitting diode OLED panel higher plastic substrates allow bend without damage USbased display maker Royole Corps foldable phone FlexPai already arrive select market Samsungs unnamed foldable phone expect sometime next year Samsungs smartphone chief executive officer DJ Koh say make million units LG expect display foldable phone next year Meanwhile Apple Nokia Lenovo Huawei also work foldable phone reportedly eSIM Very soon smartphone wont need physical SIM card anymore The eSIM technology already use Apple iPhones Apple Watch replace physical SIM virtually embed chip motherboard eSIMs support multiple mobile operators program switch service']
 ['It has also unleashed a wave of changes in the MCU that will make sure its future is a lot different than its past\n\n\nKevin Feige had signalled diversity and more representation in the post-phase 3 MCU and Endgame does a lot to showcase the initiative'
  'It also unleash wave change MCU make sure future lot different past Kevin Feige signal diversity representation postphase 3 MCU Endgame lot showcase initiative']
 ['It can be confusing to pick the right smartphone for yourself, so we have segregated the top smartphones under Rs 20,000 according to their strengths.\n\n\nThe best smartphones under ₹20,000 categorised according to performance, camera, design and battery life\n\n\nmint-india-wire phones under Rs 20000Poco F1Realme U1Redmi Note 6 Prorealme 2 proHonor PlayNokia 7.1Nova 3iAsus Zenfone Max Pro M1\n\n\nGone are the days when you had to shell out big buck for buying smartphones with premium features. Technology has become more accessible recently and the biggest example of that lies in the sub-Rs 20,000 category—you get good performance, design and even software at a reasonable price.\n\n\nIt can be confusing to pick the right smartphone for you, however, given the amount of variety that lies in the segment. So we have segregated the top smartphones under ₹ 20,000 according to their strengths, so you can pick the one that suits you best.\n\n\nThis phone actually lies just north of the ₹ 20,000 price point. But if you have an HDFC debit or credit card, you can purchase the lowest spec variant with 6GB RAM and 64GB internal storage for as low as ₹ 19,999, making it the cheapest smartphone to run a Qualcomm Snapdragon 845 SoC. There’s not a lot to not like about this phone—it has the fastest processor Qualcomm has to offer, some thermal trickery to keep your smartphone cool during intense gaming sessions, a very good camera and some durable plastic that doesn’t shatter or pick up scratches.\n\n\nIt even gets a modded version of the MIUI with an app drawer that allows you colour code your applications.'
  'It confuse pick right smartphone segregate top smartphones Rs 20000 accord strengths The best smartphones ₹20000 categorise accord performance camera design battery life mintindiawire phone Rs 20000Poco F1Realme U1Redmi Note 6 Prorealme 2 proHonor PlayNokia 71Nova 3iAsus Zenfone Max Pro M1 Gone days shell big buck buy smartphones premium feature Technology become accessible recently biggest example lie subRs 20000 category—you get good performance design even software reasonable price It confuse pick right smartphone however give amount variety lie segment So segregate top smartphones ₹ 20000 accord strengths pick one suit best This phone actually lie north ₹ 20000 price point But HDFC debit credit card purchase lowest spec variant 6GB RAM 64GB internal storage low ₹ 19999 make cheapest smartphone run Qualcomm Snapdragon 845 SoC Theres lot like phone—it fastest processor Qualcomm offer thermal trickery keep smartphone cool intense game sessions good camera durable plastic doesnt shatter pick scratch It even get modded version MIUI app drawer allow colour code applications']
 ...
 ['On the photography front, the Note 5 Pro features a 12MP + 15MP dual rear camera setup, sporting an aperture of f/2.2, while on the front it has a 20MP selfie camera.\n\n\nXiaomi Redmi Note 5 ProRedmi Note 5 Pro price cutRedmi Note 5 Pro price indiaRedmi Note 5 Pro specificationsRedmi Note 5 Pro saleRedmi Note 5 Pro units soldRedmi Note 5 Pro review'
  'On photography front Note 5 Pro feature 12MP 15MP dual rear camera setup sport aperture f22 front 20MP selfie camera Xiaomi Redmi Note 5 ProRedmi Note 5 Pro price cutRedmi Note 5 Pro price indiaRedmi Note 5 Pro specificationsRedmi Note 5 Pro saleRedmi Note 5 Pro units soldRedmi Note 5 Pro review']
 ['UDAY mandated that discoms bring the gap between average revenue and average costs to zero. Here, too, there has been progress with the gap reducing (from ₹0.60/kWh in 2015-16 to ₹0.17/kWh in 2017-18), but 21 of 26 states are still unlikely to meet the target.\n\n\nAccording to a National Institute of Public Finance and Policy study, this data suggests that the UDAY scheme is failing to turn around the power sector. The authors also find that discoms remain plagued by operational inefficiencies such as lack of effective billing procedures, poor measurement of power consumption, and ineffective monitoring of power theft.\n\n\nTaken together, data shows that the NDA has built on the previous government’s work to get more households electrified—but quality of access still remains an issue.\n\n\nWhile the government has tried to address this by improving the financial health of discoms, much more needs to be done. The inability of successive governments to revive discom fortunes could have important ramifications for India’s development.\n\n\nThe World Bank estimates India’s electricity demand to treble by 2040. Addressing this rising demand will be critical for the development agenda of whichever party is elected to form the next government.'
  'UDAY mandate discoms bring gap average revenue average cost zero Here progress gap reduce ₹060kWh 201516 ₹017kWh 201718 21 26 state still unlikely meet target According National Institute Public Finance Policy study data suggest UDAY scheme fail turn around power sector The author also find discoms remain plague operational inefficiencies lack effective bill procedures poor measurement power consumption ineffective monitor power theft Taken together data show NDA build previous governments work get households electrified—but quality access still remain issue While government try address improve financial health discoms much need do The inability successive governments revive discom fortunes could important ramifications Indias development The World Bank estimate Indias electricity demand treble 2040 Addressing rise demand critical development agenda whichever party elect form next government']
 ['Ripple also helps bank customers send money to people in many emerging markets including Mexico, India, and Thailand to increase their share of “this large and growing market". What’s next? “Ripple is moving beyond blockchain, and connecting networks so that we can move money across networks. Again this is open-source and lightweight so it becomes easy to transfer money across networks. So we are building the ecosystem for networks to connect with each other and in our view globalization will be completed when data, goods and money flow seamlessly. That’s the way we think of it as an internet of value when the whole world gets connected through payment systems," Gupta said.'
  'Ripple also help bank customers send money people many emerge market include Mexico India Thailand increase share “this large grow market Whats next “Ripple move beyond blockchain connect network move money across network Again opensource lightweight become easy transfer money across network So build ecosystem network connect view globalization complete data goods money flow seamlessly Thats way think internet value whole world get connect payment systems Gupta say']]

### Create a pipeline to preprocess and initialize the classifier

In [ ]:
#Importing the Pipeline module from sklearn
from sklearn.pipeline import Pipeline

#Initializing the pipeline with necessary transformations and the required classifier
pipe = Pipeline([
('bow', CountVectorizer()),
('tfidf', TfidfTransformer()),
('classifier', MultinomialNB())])

#Fitting the training data to the pipeline
pipe.fit(input_train_df['CLEAN_STORY'], input_train_df['SECTION'])

Pipeline(memory=None,
     steps=[('bow', CountVectorizer(analyzer='word', binary=False, decode_error='strict',
        dtype=<class 'numpy.int64'>, encoding='utf-8', input='content',
        lowercase=True, max_df=1.0, max_features=None, min_df=1,
        ngram_range=(1, 1), preprocessor=None, stop_words=None,
        strip_...f=False, use_idf=True)), ('classifier', MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True))])

In [ ]:
#Predicting the SECTION 
test_preds_mnb = pipe.predict(final_test_df['CLEAN_STORY'])

# #Writing the predictions to an excel sheet
output = pd.DataFrame(test_preds_mnb, columns = ['SECTION'])

In [ ]:
final_test_df.shape

(2748, 2)

In [ ]:
output.to_excel("./Predictions/prediction3.xlsx")